<div class="container mx-auto pt-5">
  <div class="text-3xl font-sans font-bold my-3 block text-center">Global Data</div>
  <div class="flex flex-wrap justify-center">
    <app-graphic *ngFor="let chart of charts"
                 class="my-4 mx-3"
                 [data]="chart"></app-graphic>
  </div>
  <mat-card>
    <mat-tab-group>
      <mat-tab label="Country List">
        <app-table *ngIf="countriesDataSource"
                   [dataSource]="countriesDataSource"
                   [displayedColumns]="countriesDisplayedColumns"
                   [paginatorOptions]="[20,50,100]"></app-table>
      </mat-tab>
      <mat-tab label="Global data per day">
        <app-table *ngIf="dataPerDayDataSource"
                   [dataSource]="dataPerDayDataSource"
                   [displayedColumns]="dataPerDayDisplayedColumns"
                   [paginatorOptions]="[20,50,100]"></app-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
